<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <textarea id="textarea1" class="materialize-textarea" x-model="user.name"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
        <div>
          <blockquote x-text="user.name + ' | ' + user.email"></blockquote>
        </div>
      </div>
    </form>
</div>

<div>
    <button class=" waves-effect waves-light btn" @click="show">show text</button>
    <button class=" waves-effect waves-light btn" @click="hide">hide text</button>
    <p x-show="open" x-cloak class="text-lg text-gray-500 italic w-64">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
